ul{
    list-style: none;
}

input{
    width: 80px;
    text-align: center;
    font-size: 2em;
}

.space-from-top{
    margin-top: 50px;
    text-align: center;
}
.space-from-top div ul{
    width: 75%;
    margin:0 auto;
}
.space-from-top li{
    font-size: 2em;
}
/* countdown */
#countdown{
    font-size: 3em;
}
body{
    background-color: grey;
    margin-top: 50px;
}

.d-none{
    display: none;
}
.rndNumbGenerate{
    width: 80px;
}
#tips{
    font-size: 1.3em;
    
}
#rndNumber{
    padding: 20px;
}
#inputUl{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.red-font{
    color: red;
}